.examplePage {
  margin-top: 20px;
}

.gridExample .grid .column:after {
  background-color: rgba(86, 61, 124, .1);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;
  box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;
  content: "";
  display: block;
  min-height: 50px;
}

.iconExample .grid {
  text-align: left;
}

.iconExample .grid > .column {
  opacity: 0.7;
  text-align: center;
  color: #777777;
  align-items: center;
}

.iconExample .column .icon {
  opacity: 1;
  height: 1em;
  display: block;
  color: #333333;
  font-size: 2em;
  margin: 0em auto 0.25em;
}
